
body {
    font-family: 'Exo 2', sans-serif;
}

.custom_header {
    height: 100vh;
}

.custom_section {
    height: 120vh;
}
.h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}
.h5{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
p {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    color: #707070;
}

.header_image {
    background: url('../assets/backg.svg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-image {
    background: url('../assets/backg.svg');
    height: 100%;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.center-widget {
    margin-top: 3rem;
}

.center-widget img{
    display: block;
    margin: auto;
}

.mt-6 {
    margin-top: 12rem;
}
.pt-6 {
    padding-top: 10rem;
}

.primary-col {
    color: #7B1EC5;
}

.primary-black {
    color: black;
}

.primary-white {
    color: white;
}

.deba-cir{
    padding: 10px;
    border-color: #7B1EC5;
    border-width: 2px;
    border-style: solid;
}

.button-deba {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding: 15px 50px;
    background-color: #7B1EC5;
    border-radius: 10px;
}

@media (max-width: 1780px) {
    .pt-6 {
        padding-top: 3rem;
    }
    .mt-6 {
        margin-top: 4rem;
    }
}
